Xcursor.size: 16

! Rofi

rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c


URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

URxvt*scrollBar: false

! /* URxvt.font:xft:m+ 1m:style=regular:pixelsize=14 */
! /* URxvt.boldFont:xft:m+ 1m:style=regular:pixelsize=14 */
! /* URxvt.italicFont:xft:m+ 1m:style=regular:pixelsize=14 */
! /* URxvt.boldItalicFont:xft:m+ 1m:style=regular:pixelsize=14 */

URxvt.font:xft:PragmataPro\ Plus\ Nerd\ File\ Types\ Plus\ Font\ Awesome\ Plus\ Octicons\ Plus\ Pomicons:style=regular:pixelsize=14
URxvt.boldFont:xft:PragmataPro\ Plus\ Nerd\ File\ Types\ Plus\ Font\ Awesome\ Plus\ Octicons\ Plus\ Pomicons:style=regular:pixelsize=14
URxvt.italicFont:xft:PragmataPro\ Plus\ Nerd\ File\ Types\ Plus\ Font\ Awesome\ Plus\ Octicons\ Plus\ Pomicons:style=regular:pixelsize=14
URxvt.boldItalicFont:xft:PragmataPro\ Plus\ Nerd\ File\ Types\ Plus\ Font\ Awesome\ Plus\ Octicons\ Plus\ Pomicons:style=regular:pixelsize=14

! /* URxvt.keysym.Shift-Control-V: perl:clipboard:paste */
! /* URxvt.clipboard.pastecmd: xsel -ob */
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt.intensityStyles: false

! special
URxvt.foreground:   #c0b18b
URxvt.background:   #1f1f1f
URxvt.cursorColor:  #c0b18b

! black
URxvt.color0:       #4a3637
URxvt.color8:       #4a3637

! red
URxvt.color1:       #d17b49
URxvt.color9:       #d17b49

! green
URxvt.color2:       #7b8748
URxvt.color10:      #7b8748

! yellow
URxvt.color3:       #af865a
URxvt.color11:      #af865a

! blue
URxvt.color4:       #535c5c
URxvt.color12:      #535c5c

! magenta
URxvt.color5:       #775759
URxvt.color13:      #775759

! cyan
URxvt.color6:       #6d715e
URxvt.color14:      #6d715e

! white
URxvt.color7:       #c0b18b
URxvt.color15:      #c0b18b
